.repoLanguageColor {
	background-color: rgb(0, 173, 216); --darkreader-inline-bgcolor: #38848e;
	margin-top: 8px;
	margin-right: 5px;
	top: 1px;
	width: 12px;
	height: 12px;
	border: 1px solid var(--borderColor-muted, var(--color-primer-border-contrast));
	border-radius: 50%;
}

.progress {
	/*background-color: #bfbfbf; /* #BFC8FF; */
	margin-top: 5px;
}

.col-4::-webkit-scrollbar {
	display: none; /* Nasconde la scrollbar su browser basati su WebKit (come Chrome e Safari) */
}

.greenBar {
	background-color: #BBFFBB;
}

.redBar {
	background-color: #FFBBBB;
}

.blueBar {
	background-color: #BFC8FF;
}

[data-bs-theme="dark"] .greenBar {
	background-color: #1a4d1a;
}

[data-bs-theme="dark"] .redBar {
	background-color: #4d1a1a;
}

[data-bs-theme="dark"] .blueBar {
	background-color: #1a1a4d;
}

.scroller {
  overflow-y: scroll;
  scrollbar-color: #007 #bada55;
}

