
/*Xs	*/
@media screen and (min-width: 0px) and (max-width: 575px) {
    .repoCommitText {
        display: none; /* Nasconde la div sui dispositivi mobili */
    }

	.navCompRepo {
		max-height: 250px;
	}

	.repoNavList {
		overflow: hidden;
		text-overflow: ellipsis;
		word-wrap: break-word !important;
	}

	#gitHubRepoItem {
		max-height: 50vh;
	}

	#contactCard {
		margin-top: 16px;
	}
}

/*Sm	*/
@media screen and (min-width: 576px) and (max-width: 767px) {
	.repoNavList {
		overflow: hidden;
		text-overflow: ellipsis;
		word-wrap: break-word !important;
	}

	.navCompRepo {
		max-height: 250px;
	}

	#gitHubRepoItem {
		max-height: 60vh;
	}

	#contactCard {
		margin-top: 16px;
	}
}

/*Md	*/
@media screen and (min-width: 768px) and (max-width: 992px) {
	.repoNavList {
		overflow: hidden;
		text-overflow: ellipsis;
		word-wrap: break-word !important;
	}

	.navCompRepo {
		max-height: 270px;
	}

	#gitHubRepoItem {
		max-height: 60vh;
	}

	#nameCard {
		margin-left: 8px;
		padding-right: 0px;
		width: calc(50% - 8px);
	}

	#contactCard {
		margin-right: 8px;
		width: calc(50% - 8px);
		margin-right: 0px;
	}
}

/*Lg	*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.repoNavList {
		overflow: hidden;
		text-overflow: ellipsis;
		word-wrap: break-word !important;
	}

	.navCompRepo {
		max-height: 360px;
	}

	#gitHubRepoItem {
		max-height: 60vh;
	}

	#nameCard {
		margin-left: 8px;
		padding-right: 0px;
		width: calc(50% - 8px);
	}

	#contactCard {
		margin-right: 8px;
		width: calc(50% - 8px);
		margin-right: 0px;
	}
}

/*Xl	*/
@media screen and (min-width: 1200px) {
	.repoNavList {
		overflow: hidden;
		text-overflow: ellipsis;
		word-wrap: break-word !important;
	}

	.navCompRepo {
		max-height: 500px;
	}

	#gitHubRepoItem {
		max-height: 60vh;
	}

	#nameCard {
		margin-left: 8px;
		padding-right: 0px;
		width: calc(50% - 8px);
	}

	#contactCard {
		margin-right: 8px;
		width: calc(50% - 8px);
		margin-right: 0px;
	}
}

.repoLanguageColor {
	background-color: rgb(0, 173, 216); --darkreader-inline-bgcolor: #38848e;
	margin-top: 8px;
	margin-right: 5px;
	top: 1px;
	width: 12px;
	height: 12px;
	border: 1px solid var(--borderColor-muted, var(--color-primer-border-contrast));
	border-radius: 50%;
}

.progress {
	/*background-color: #bfbfbf; /* #BFC8FF; */
	margin-top: 5px;
}

/*.col-4::-webkit-scrollbar {
	display: none; /* Nasconde la scrollbar su browser basati su WebKit (come Chrome e Safari) */
/*}*/

.scroller {
  overflow-y: scroll;
  scrollbar-color: #007 #bada55;
}

.aHide {
	color: inherit; /* Colore del testo ereditato */
	text-decoration: none; /* Rimuove la sottolineatura di default */
}

.aHide:hover {
	text-decoration: underline; /* Aggiunge la sottolineatura al passaggio del mouse */
	color: blue; /* Cambia il colore del testo a blu */
}

.buttonHide {
	border: none; /* Rimuove la cornice */
	background-color: transparent; /* Rimuove lo sfondo */
	color: inherit; /* Utilizza il colore del testo ereditato */
	cursor: pointer; /* Cambia il cursore quando si passa sopra con il mouse */
	transition: color 0.3s; /* Aggiunge una transizione al cambiamento di colore */
}

.buttonHide:hover {
	color: blue; /* Cambia il colore del testo quando si passa sopra con il mouse */
	border-radius: 6px;
	background-color: #282f36;
}

/*
		/* Nascondi le scrollbar standard 
		::-webkit-scrollbar {
			display: none;
		}

		/* Stile della scrollbar personalizzata 
		::-webkit-scrollbar {
			width: 6px; /* Larghezza della scrollbar 
		}

		/* Traccia della scrollbar 
		::-webkit-scrollbar-track {
			background: transparent; /* Colore di sfondo della traccia 
		}

		/* Maniglia della scrollbar 
		::-webkit-scrollbar-thumb {
			background: rgba(0, 0, 0, 0.3); /* Colore della maniglia 
			border-radius: 10px; /* Angoli arrotondati 
		}

		/* Cambia lo stile della maniglia quando ci si passa sopra con il mouse 
		::-webkit-scrollbar-thumb:hover {
			background: rgba(0, 0, 0, 0.5); /* Colore della maniglia al passaggio del mouse 
		}

		/* Media query per mantenere le dimensioni fisse della scrollbar 
		@media (min-width: 768px) {
			/* Dimensioni fisse della scrollbar per dispositivi con larghezza massima di 768px 
			::-webkit-scrollbar {
				width: 6px; /* Larghezza della scrollbar 
			}
		} 
*/
